<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline%exception" />
      </layout>

      <!--DEBUG,INFO,WARN,ERROR,FATAL-->
      <!--<filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/>
      </filter>-->

      <!--Case sencitive-->
      <!--<filter type="log4net.Filter.StringMatchFilter">        
        <stringToMatch value="Prueba"/>
      </filter>-->
      
      <!--<filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="Fatal"/>
      </filter>-->
      
      <!--<filter type="log4net.Filter.DenyAllFilter"/>-->
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="C:\Logs\LogFile.txt" />
      <appendToFile value="True" />
      <lockingModel type="log4net.Appender.fileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline%exception" />
      </layout>
    </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\RollingFile.txt" />
      <appendToFile value="True" />
      <rollingStyle value="Size" />
      <maximumFileSize value="20KB" />
      <maxSizeRollBackups value="5" />
      <staticLogFileName value="True" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline%exception" />
      </layout>
    </appender>

    <appender name="RollingFileAppenderDate" type="log4net.Appender.RollingFileAppender">
      <file value="c:\Logs\Today.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <staticLogFileName value="True" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %logger %date{ISO8601} - %message%newline"/>
      </layout>
    </appender>
    
    <appender name="RollingLogFileAppenderComposite" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logs\SimpleWebConfigEncriptionTool.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="20KB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <!--<appender-ref ref="ConsoleAppender" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="RollingFileAppenderDate" />-->
      <appender-ref ref="RollingLogFileAppenderComposite" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>